.fakeimg {
    height: 200px;
    background: #aaa;
  }

  /* contact us*/
  .bg-img {
    background-image: url("contactus.png");
  }

/*login*/
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
  }


/* style personal area*/

.col-6{
  float: left;
  width: 40%;
  padding: 10px;
  height: 300px;
}

.col-8{
  float: right;
  width: 60%;
  padding: 10px;
  height: 300px;
}

table, th, td {
  border: 0.5px solid grey;   
}

.container_button { 
  position: relative; 
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 10%;
}

.font-total{
  font-style: italic;
  font-weight: bold;
  font-size: xx-large;
  color: rgb(19, 19, 170);
}
